.theme-base {
  --c-primary-50: 236, 254, 255;
  --c-primary-100: 207, 250, 254;
  --c-primary-200: 165, 243, 252;
  --c-primary-300: 103, 232, 249;
  --c-primary-400: 34, 211, 238;
  --c-primary-500: 245, 102, 0;
  --c-primary-600: 8, 145, 178;
  --c-primary-700: 82, 45, 128;
  --c-primary-800: 116, 86, 153;
  --c-primary-900: 22, 78, 99;

  // SECONDARY COLOR
  --c-secondary-50: 240, 253, 250;
  --c-secondary-100: 204, 251, 241;
  --c-secondary-200: 153, 246, 228;
  --c-secondary-300: 153, 246, 228;
  --c-secondary-400: 45, 212, 191;
  --c-secondary-500: 20, 184, 166;
  --c-secondary-600: 13, 148, 136;
  --c-secondary-700: 15, 118, 110;
  --c-secondary-800: 17, 94, 89;
  --c-secondary-900: 19, 78, 74;
  // NEUTRAL COLOR
  --c-neutral-50: 248, 250, 252;
  --c-neutral-100: 241, 245, 249;
  --c-neutral-200: 226, 232, 240;
  --c-neutral-300: 203, 213, 225;
  --c-neutral-400: 148, 163, 184;
  --c-neutral-500: 167, 30, 52;
  --c-neutral-600: 71, 85, 105;
  --c-neutral-700: 51, 65, 85;
  --c-neutral-800: 30, 41, 59;
  --c-neutral-900: 15, 23, 42;
  // NEGATIVE COLOR
  --c-negative-50: 224, 30, 55;
  --c-negative-100: 218, 30, 55;
  --c-negative-200: 199, 31, 55;
  --c-negative-300: 189, 31, 54;
  --c-negative-400: 178, 30, 53;
  --c-negative-500: 167, 30, 52;
  --c-negative-600: 161, 29, 51;
  --c-negative-700: 133, 24, 42;
  --c-negative-800: 110, 20, 35;
  --c-negative-900: 100, 18, 32;
}
